In [1]:
import requests
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

import eurostat

pd.set_option("display.max.columns", 10)

# Explore Eurostat dictionnary

In [2]:
toc_df=eurostat.get_toc_df()
toc_df

,title,code,type,last update of data,last table structure change,data start,data end
0,Database by themes,data,folder,,,,
1,General and regional statistics,general,folder,,,,
2,European and national indicators for short-ter...,euroind,folder,,,,
3,Business and consumer surveys (source: DG ECFIN),ei_bcs,folder,,,,
4,Consumer surveys (source: DG ECFIN),ei_bcs_cs,folder,,,,
...,...,...,...,...,...,...,...
10206,Enterprises that provided training to develop/...,isoc_ske_ittn2,dataset,21.01.2021,08.02.2021,2012,2020
10207,Participation in education and training - cont...,sks_devcvt,folder,,,,
10208,Enterprises providing training by type of trai...,trng_cvt_01s,dataset,26.02.2019,08.02.2021,2005,2015
10209,Participants in CVT courses by sex and size cl...,trng_cvt_12s,dataset,26.02.2019,08.02.2021,2005,2015
10210,Main skills targeted by CVT courses by type of...,trng_cvt_29n2,dataset,26.02.2019,08.02.2021,2010,2015

In [3]:
eurostat.subset_toc_df(toc_df, 'unemploy')

,title,code,type,last update of data,last table structure change,data start,data end
48,Harmonised unemployment (1 000) - monthly data,ei_lmhu_m,dataset,11.02.2021,11.02.2021,1983M01,2021M01
49,Harmonised unemployment rates (%) - monthly data,ei_lmhr_m,dataset,11.02.2021,11.02.2021,1983M01,2021M01
372,Regional unemployment - LFS annual series,lfst_r_lfu,folder,,,,
373,"Unemployment by sex, age and NUTS 2 regions (1...",lfst_r_lfu3pers,dataset,11.11.2020,08.02.2021,1999,2019
374,"Unemployment rates by sex, age and NUTS 2 regi...",lfst_r_lfu3rt,dataset,11.11.2020,08.02.2021,1999,2019
...,...,...,...,...,...,...,...
9568,"Unemployment by sex, age and country of birth ...",lfsq_ugacob,dataset,12.02.2021,08.02.2021,1998Q1,2020Q3
9600,"Unemployment rate by sex, age, migration statu...",lfso_14luner,dataset,28.03.2019,08.02.2021,2014,2014
9665,"Unemployment rates by sex, age and citizenship...",lfsa_urgan,dataset,11.11.2020,08.02.2021,1995,2019
9696,Unemployment by sex and age â€“ annual data,une_rt_a,dataset,07.10.2020,08.02.2021,1992,2019
9697,Long-term unemployment by sex - annual data,une_ltu_a,dataset,11.01.2021,08.02.2021,1996,2019

Or have a look to the Eurostat website : https://ec.europa.eu/eurostat/databrowser/view/une_rt_q/default/table?lang=en

# Explore the dataset

In [4]:
eurostat.get_data_df('une_rt_q', flags=False)

,s_adj,age,unit,sex,geo\time,...,1993Q1,1992Q4,1992Q3,1992Q2,1992Q1
0,NSA,Y15-24,PC_ACT,F,AT,...,NaN,NaN,NaN,NaN,NaN
1,NSA,Y15-24,PC_ACT,F,BE,...,20.3,22.7,25.5,15.2,NaN
2,NSA,Y15-24,PC_ACT,F,BG,...,NaN,NaN,NaN,NaN,NaN
3,NSA,Y15-24,PC_ACT,F,CH,...,NaN,NaN,NaN,NaN,NaN
4,NSA,Y15-24,PC_ACT,F,CY,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6475,TC,Y55-74,THS_PER,T,SE,...,NaN,NaN,NaN,NaN,NaN
6476,TC,Y55-74,THS_PER,T,SI,...,NaN,NaN,NaN,NaN,NaN
6477,TC,Y55-74,THS_PER,T,SK,...,NaN,NaN,NaN,NaN,NaN
6478,TC,Y55-74,THS_PER,T,TR,...,NaN,NaN,NaN,NaN,NaN
6479,TC,Y55-74,THS_PER,T,UK,...,293.0,285.0,277.0,270.0,NaN

In [5]:
# get all dimension of the dataset
dims = eurostat.get_sdmx_dims('une_rt_q')
dims

['AGE',
 'FREQ',
 'GEO',
 'INDICATORS',
 'OBS_FLAG',
 'SEX',
 'S_ADJ',
 'TIME',
 'UNIT']

In [6]:
# get all possible value of one dimension of the dataset
dic = eurostat.get_sdmx_dic('une_rt_q', 'AGE')
dic

{'Y15-24': 'From 15 to 24 years',
 'Y15-74': 'From 15 to 74 years',
 'Y20-64': 'From 20 to 64 years',
 'Y25-54': 'From 25 to 54 years',
 'Y25-74': 'From 25 to 74 years',
 'Y55-74': 'From 55 to 74 years'}

In [7]:
# get all possible value of one dimension of the dataset
dic = eurostat.get_sdmx_dic('une_rt_q', 'UNIT')
dic

{'PC_ACT': 'Percentage of active population',
 'PC_POP': 'Percentage of total population',
 'THS_PER': 'Thousand persons'}

In [8]:
dic = eurostat.get_sdmx_dic('une_rt_q', 'UNIT')
dic

{'PC_ACT': 'Percentage of active population',
 'PC_POP': 'Percentage of total population',
 'THS_PER': 'Thousand persons'}

In [9]:

#StartPeriod = '2019-01'
#EndPeriod = '2020-12'

#filter_pars = { 'AGE': ['Y15-74', ] ,
#                'SEX': 'T',  
#                'FREQ': 'M',
#                'GEO':['LU',]
#             }

#eurostat.get_sdmx_data_df('une_rt_m', StartPeriod, EndPeriod, filter_pars, flags = True, verbose=True)

# Download data from JSON to CSV

In [10]:
# build the URL
# {host_url}/rest/data/{version}/{format}/{lang}/{datasetCode}?{filters}

api_url = "http://ec.europa.eu/eurostat/wdds/rest/data/v2.1"
api_format = "/json"
api_lang = "/en"

In [11]:
# Name of the dataset to query
api_dataset = "/une_rt_q"


# Create dictionary that passes all filters to apply to the query 
filters = { 'age': 'Y15-74',
            'sex': 'T', 
            'freq':'Q',
            's_adj':'SA',
            'unit': 'PC_ACT',
            #'unit': ['PC_ACT','PC_POP','THS_PER'],
            #'time': ['2020Q3','2020Q2','2020Q1'],
            'time': '2020Q3',
             }

In [12]:
# Get data
try:
    response = requests.get(api_url+api_format+api_lang+api_dataset, 
                params=filters)
    response.raise_for_status()
except requests.exceptions.HTTPError as err:
    raise SystemExit(err)

In [13]:
# Extract JSON data from the response
data = response.json()
data

{'class': 'dataset',
 'dimension': {'age': {'category': {'index': {'Y15-74': 0},
    'label': {'Y15-74': 'From 15 to 74 years'}},
   'label': 'age'},
  'geo': {'category': {'index': {'AT': 0,
     'BE': 1,
     'BG': 2,
     'CH': 3,
     'CY': 4,
     'CZ': 5,
     'DE': 6,
     'DK': 7,
     'EA19': 8,
     'EE': 9,
     'EL': 10,
     'ES': 11,
     'EU15': 12,
     'EU27_2020': 13,
     'EU28': 14,
     'FI': 15,
     'FR': 16,
     'FX': 17,
     'HR': 18,
     'HU': 19,
     'IE': 20,
     'IS': 21,
     'IT': 22,
     'LT': 23,
     'LU': 24,
     'LV': 25,
     'ME': 26,
     'MK': 27,
     'MT': 28,
     'NL': 29,
     'NO': 30,
     'PL': 31,
     'PT': 32,
     'RO': 33,
     'RS': 34,
     'SE': 35,
     'SI': 36,
     'SK': 37,
     'TR': 38,
     'UK': 39},
    'label': {'AT': 'Austria',
     'BE': 'Belgium',
     'BG': 'Bulgaria',
     'CH': 'Switzerland',
     'CY': 'Cyprus',
     'CZ': 'Czechia',
     'DE': 'Germany (until 1990 former territory of the FRG)',
     'DK': 'Denmark',
     'EA19': 'Euro area - 19 countries  (from 2015)',
     'EE': 'Estonia',
     'EL': 'Greece',
     'ES': 'Spain',
     'EU15': 'European Union - 15 countries (1995-2004)',
     'EU27_2020': 'European Union - 27 countries (from 2020)',
     'EU28': 'European Union - 28 countries (2013-2020)',
     'FI': 'Finland',
     'FR': 'France',
     'FX': 'France (metropolitan)',
     'HR': 'Croatia',
     'HU': 'Hungary',
     'IE': 'Ireland',
     'IS': 'Iceland',
     'IT': 'Italy',
     'LT': 'Lithuania',
     'LU': 'Luxembourg',
     'LV': 'Latvia',
     'ME': 'Montenegro',
     'MK': 'North Macedonia',
     'MT': 'Malta',
     'NL': 'Netherlands',
     'NO': 'Norway',
     'PL': 'Poland',
     'PT': 'Portugal',
     'RO': 'Romania',
     'RS': 'Serbia',
     'SE': 'Sweden',
     'SI': 'Slovenia',
     'SK': 'Slovakia',
     'TR': 'Turkey',
     'UK': 'United Kingdom'}},
   'label': 'geo'},
  's_adj': {'category': {'index': {'SA': 0},
    'label': {'SA': 'Seasonally adjusted data, not calendar adjusted data'}},
   'label': 's_adj'},
  'sex': {'category': {'index': {'T': 0}, 'label': {'T': 'Total'}},
   'label': 'sex'},
  'time': {'category': {'index': {'2020Q3': 0}, 'label': {'2020Q3': '2020Q3'}},
   'label': 'time'},
  'unit': {'category': {'index': {'PC_ACT': 0},
    'label': {'PC_ACT': 'Percentage of active population'}},
   'label': 'unit'}},
 'extension': {'datasetId': 'une_rt_q',
  'description': None,
  'lang': 'EN',
  'status': {'label': {':': 'not available',
    'p': 'provisional',
    'u': 'low reliability'}},
  'subTitle': None},
 'href': 'http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/une_rt_q?age=Y15-74&sex=T&freq=Q&s_adj=SA&unit=PC_ACT&time=2020Q3',
 'id': ['s_adj', 'age', 'unit', 'sex', 'geo', 'time'],
 'label': 'Unemployment by sex and age â€“ quarterly data',
 'size': [1, 1, 1, 1, 40, 1],
 'source': 'Eurostat',
 'status': {'12': ':', '14': ':', '6': 'pu'},
 'updated': '2021-01-10',
 'value': {'0': 5.7,
  '1': 6.3,
  '10': 16.5,
  '11': 16.1,
  '13': 7.4,
  '15': 8.5,
  '16': 8.6,
  '17': 8.4,
  '18': 8.0,
  '19': 4.4,
  '2': 5.2,
  '20': 6.5,
  '21': 5.8,
  '22': 10.3,
  '23': 9.7,
  '24': 7.7,
  '25': 8.3,
  '26': 19.4,
  '27': 16.5,
  '28': 4.7,
  '29': 4.2,
  '3': 5.1,
  '30': 4.8,
  '31': 3.2,
  '32': 7.7,
  '33': 5.2,
  '34': 9.0,
  '35': 8.9,
  '36': 5.1,
  '37': 7.0,
  '38': 13.4,
  '39': 4.6,
  '4': 8.1,
  '5': 2.7,
  '6': 3.6,
  '7': 6.3,
  '8': 8.3,
  '9': 8.0},
 'version': '2.0'}

In [14]:
data['updated']

'2021-01-10'

In [15]:
df = pd.json_normalize(data)

In [16]:
df

,version,label,href,source,updated,...,dimension.geo.category.label.TR,dimension.geo.category.label.UK,dimension.time.label,dimension.time.category.index.2020Q3,dimension.time.category.label.2020Q3
0,2.0,Unemployment by sex and age â€“ quarterly data,http://ec.europa.eu/eurostat/wdds/rest/data/v2...,Eurostat,2021-01-10,...,Turkey,United Kingdom,time,0,2020Q3

In [17]:
data['dimension']['geo']['category']['index'].keys()

dict_keys(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EA19', 'EE', 'EL', 'ES', 'EU15', 'EU27_2020', 'EU28', 'FI', 'FR', 'FX', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UK'])

In [18]:
list(data['dimension']['time']['category']['label'].values())[0]

'2020Q3'

In [19]:
#len(list(dict_values.values()))

In [20]:
#build the dataframe based on the dimension used to filter
unemploy_data = pd.DataFrame({
     "geo": list(data['dimension']['geo']['category']['index'].keys()),
     "geo_label":list(data['dimension']['geo']['category']['label'].values())
})

# add fixed value for the whole dataset
unemploy_data["time"] = list(data['dimension']['time']['category']['label'].values())[0]

unemploy_data

          geo                                         geo_label    time
0          AT                                           Austria  2020Q3
1          BE                                           Belgium  2020Q3
2          BG                                          Bulgaria  2020Q3
3          CH                                       Switzerland  2020Q3
4          CY                                            Cyprus  2020Q3
5          CZ                                           Czechia  2020Q3
6          DE  Germany (until 1990 former territory of the FRG)  2020Q3
7          DK                                           Denmark  2020Q3
8        EA19             Euro area - 19 countries  (from 2015)  2020Q3
9          EE                                           Estonia  2020Q3
10         EL                                            Greece  2020Q3
11         ES                                             Spain  2020Q3
12       EU15         European Union - 15 countries (1995-2004)  2020Q3
13  EU27_2020         European Union - 27 countries (from 2020)  2020Q3
14       EU28         European Union - 28 countries (2013-2020)  2020Q3
15         FI                                           Finland  2020Q3
16         FR                                            France  2020Q3
17         FX                             France (metropolitan)  2020Q3
18         HR                                           Croatia  2020Q3
19         HU                                           Hungary  2020Q3
20         IE                                           Ireland  2020Q3
21         IS                                           Iceland  2020Q3
22         IT                                             Italy  2020Q3
23         LT                                         Lithuania  2020Q3
24         LU                                        Luxembourg  2020Q3
25         LV                                            Latvia  2020Q3
26         ME                                        Montenegro  2020Q3
27         MK                                   North Macedonia  2020Q3
28         MT                                             Malta  2020Q3
29         NL                                       Netherlands  2020Q3
30         NO                                            Norway  2020Q3
31         PL                                            Poland  2020Q3
32         PT                                          Portugal  2020Q3
33         RO                                           Romania  2020Q3
34         RS                                            Serbia  2020Q3
35         SE                                            Sweden  2020Q3
36         SI                                          Slovenia  2020Q3
37         SK                                          Slovakia  2020Q3
38         TR                                            Turkey  2020Q3
39         UK                                    United Kingdom  2020Q3

In [21]:
# check number of result that we have
len(list(data['value'].values()))

38

As a reminder, we have 40 country (or aggregation of countries)
here we can see that some COUNTRY doesn't have value, missing :
- index 12 :	EU15	European Union - 15 countries (1995-2004)
- index 14 :	EU28	European Union - 28 countries (2013-2020)

In [22]:
# convert keys of the DICT (stored in string) to int
# and convert the value into float (instead of string)
dict_values = {int(key): float(value) for key, value in (data['value']).items()}

df_values = pd.DataFrame.from_dict(dict_values,orient='index',columns=['PC_ACT'])

In [23]:
# now we can "join" the 2 dataframes based on indexes 
# all missing values should be leave as NaN
unemploy_data.join(df_values, lsuffix='_caller', rsuffix='_other')

,geo,geo_label,time,PC_ACT
0,AT,Austria,2020Q3,5.7
1,BE,Belgium,2020Q3,6.3
2,BG,Bulgaria,2020Q3,5.2
3,CH,Switzerland,2020Q3,5.1
4,CY,Cyprus,2020Q3,8.1
5,CZ,Czechia,2020Q3,2.7
6,DE,Germany (until 1990 former territory of the FRG),2020Q3,3.6
7,DK,Denmark,2020Q3,6.3
8,EA19,Euro area - 19 countries (from 2015),2020Q3,8.3
9,EE,Estonia,2020Q3,8.0
10,EL,Greece,2020Q3,16.5
11,ES,Spain,2020Q3,16.1
12,EU15,European Union - 15 countries (1995-2004),2020Q3,NaN
13,EU27_2020,European Union - 27 countries (from 2020),2020Q3,7.4
14,EU28,European Union - 28 countries (2013-2020),2020Q3,NaN
15,FI,Finland,2020Q3,8.5
16,FR,France,2020Q3,8.6
17,FX,France (metropolitan),2020Q3,8.4
18,HR,Croatia,2020Q3,8.0
19,HU,Hungary,2020Q3,4.4
20,IE,Ireland,2020Q3,6.5
21,IS,Iceland,2020Q3,5.8
22,IT,Italy,2020Q3,10.3
23,LT,Lithuania,2020Q3,9.7
24,LU,Luxembourg,2020Q3,7.7
25,LV,Latvia,2020Q3,8.3
26,ME,Montenegro,2020Q3,19.4
27,MK,North Macedonia,2020Q3,16.5
28,MT,Malta,2020Q3,4.7
29,NL,Netherlands,2020Q3,4.2
30,NO,Norway,2020Q3,4.8
31,PL,Poland,2020Q3,3.2
32,PT,Portugal,2020Q3,7.7
33,RO,Romania,2020Q3,5.2
34,RS,Serbia,2020Q3,9.0
35,SE,Sweden,2020Q3,8.9
36,SI,Slovenia,2020Q3,5.1
37,SK,Slovakia,2020Q3,7.0
38,TR,Turkey,2020Q3,13.4
39,UK,United Kingdom,2020Q3,4.6